/* Set up CSS For WebPage */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}
svg {
  width: 30px;
  cursor: pointer;
}
i {
  font-size: 22px;
}
.title {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}
/* Content CSS */
.content {
  display: flex;
}
/* Header CSS */
.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.my-music {
  padding-left: 10px;
  align-content: center;
}
.nav {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user {
  display: flex;
  cursor: pointer;
  opacity: 0.8;
  margin-right: 20px;
}
.user-logo {
  cursor: pointer; /* Để người dùng biết rằng có thể tương tác với phần này */
  display: flex;
  align-items: center;
}
.user img {
  background-size: contain;
  width: 30px; /* Điều chỉnh kích thước */
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
.user-logo:hover {
  transform: scale(1.2);
  opacity: 1;
}

.user-display {
  display: none;
  position: absolute;
  background-color: #050300;
  min-width: 200px;
  border-radius: 5px;
  z-index: 10000000000000000000000000000000000000;
  inset: 0px 0px auto auto;
  transform: translate(-10px, 64px);
}

.user-display ul {
  list-style-type: none;
}

.user-display li {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.user-display li:hover {
  background-color: #444;
  border-radius: 5px;
}

.user-display hr {
  margin: 0;
  border: 1px solid #333;
}
.user:hover .user-display {
  display: block;
}
.home-container {
  position: relative;
}
.home-container i {
  color: white;
  width: max-content;
  border-radius: 50%;
  background-color: #121212;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.3s ease;
}
.home-container .home-tooltip-text {
  visibility: hidden;
  width: 90px;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  bottom: -41px;
  transform: translateX(-25%);
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0s linear 0.2s;
}
.home-container:hover .home-tooltip-text {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
.home-container i:hover {
  transform: scale(1.1);
  opacity: 1;
}
.search-container {
  width: 450px;
  position: relative;
}
.search-container input[type="text"] {
  border-radius: 25px;
  width: 100%;
  padding: 16px 50px;
  background-color: #121212;
  border: 1px solid black;
  cursor: pointer;
  color: white;
  margin-left: 10px;
  opacity: 0.8;
  transition: 0.1s ease-in;
}
.search-container input[type="text"]:hover {
  transition-delay: 0.5s;
  border-radius: 25px;
  opacity: 1;
  border: 1px solid #fff;
}
.search-btn .search-tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #121212;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  bottom: -41px;
  left: 55px;
  /* dịch về bên trái 50% độ rộng của thẻ div */
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0s linear 0.2s;
}
.search-btn i {
  cursor: pointer;
  padding: 10px;
  color: white;
}
.search-btn:hover .search-tooltip-text {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.search-container input::placeholder {
  padding-left: 8px;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400; /* Circular Book */
}
.search-container i {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

/* Sidebar Right - Library */
.sidebar-left {
  width: 22%;
  margin-left: 0.5%;
  background-color: #121212;
  border-radius: 10px;
  height: 80vh;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  /* padding: 0px 10px; */
}

.main::-webkit-scrollbar,
.sidebar-left::-webkit-scrollbar {
  width: 0;
}

.library {
  padding: 5px 8px;
}
.lib-header {
  padding: 10px 10px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 5px 5px rgba(9, 9, 9); /* Tạo hiệu ứng đổ bóng để nổi bật hơn */
  background-color: #121212;
}
.lib-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.icon-text {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
}
.icon-text:hover {
  opacity: 1;
}
.icon-text svg {
  margin-right: 5px;
}
.lib-option .fa-arrow-right {
  margin-left: 10px;
}
.lib-option i {
  border-radius: 50%;
  cursor: pointer;
  padding: 4px 5px;
}
.lib-option i:hover {
  background-color: #1f1f1f;
}

.lib-category span {
  display: inline-block;
  white-space: nowrap;
  padding: 8px 14px;
  background-color: #2a2a2a;
  border-radius: 20px;
  margin: 5px;
  color: white;
  transition: opacity 0.3s ease;
  opacity: 0.8;
  cursor: pointer;
}
.lib-category span:hover {
  background-color: #414141;

  transform: scale(1.1);
}
.lib-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 8px;
}
.playlist-filter {
  display: flex;
  align-items: center;
}
.lib-controls .playlist-filter span {
  margin-right: 5px;
}
.lib-controls .playlist-filter,
.lib-controls .lib-search-btn {
  cursor: pointer;
  transition: transform 0.3s ease;
  opacity: 0.8;
}
.lib-controls .playlist-filter:hover,
.lib-controls .lib-search-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Song In Library */
.thumb {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-size: cover;
  margin-right: 10px;
}

.playlist {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); */
}
.playlist:hover {
  background-color: rgb(58, 57, 57);
}
.playlist .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  display: block;
}

.playlist.active {
  background-color: gray;
  /* padding: 8px; */
}

/* Middle Content - Main */

.main {
  width: 80%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background-color: linear-gradient(to bottom, #212f3c, #121212);
  border-radius: 10px;
  height: 80vh;
  overflow-y: auto;
}

.main .playlist-cover {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  background-size: contain;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
}
.main .main-playlist {
  display: flex;
  padding: 50px 15px 10px 13px;
  align-items: center;
  background-image: linear-gradient(rgb(199, 181, 162), rgb(132, 120, 108));
}
.main .sticky-playlist-info {
  margin-bottom: 10px;
  font-size: 30px;
}
.main .sticky-header {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.main .sticky-header.visible {
  display: block;
  width: 100%; /* Chiều rộng 100% */
  position: sticky;
  top: 0; /* Ở trên cùng */
  background-color: green; /* Màu nền bạn muốn */
  z-index: 10; /* Đảm bảo ở trên các phần tử khác */
  opacity: 1;
  height: 110px; /* Đặt chiều cao để phần tử xuất hiện */
  transition: opacity 1s ease;
  border-bottom: solid 1px #f1f1f1;
}
.main .sticky-header.visible .sticky-track-info {
  background-color: gray;
}
.sticky-playlist-info {
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin: 0px 20px;
}
.sticky-playlist-info h2 {
  margin-left: 50px;
}
.main .sticky-header table {
  width: 100%;
  border-spacing: 0;
  padding: 0px 10px;
}
.playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-container {
  padding-top: 25px;
}
.playlist-info .roboto-black {
  font-size: 60px;
  color: white;
}

.songs-in-playlist {
  display: flex;
  justify-content: space-between;
  background: rgb(66, 60, 54);
  position: relative;
}
.toggle-play-btn {
  background-color: #1ed760;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggle-play-btn:hover {
  transform: scale(1.1);
  background-color: #51e484;
}
.play-playlist-btn .icon-pause {
  display: none;
}

.play-playlist-btn.playing .icon-pause {
  display: block;
}

.play-playlist-btn.playing .icon-play {
  display: none;
}
.songs-controller {
  display: flex;
  align-items: center;
}
.songs-controller i {
  padding: 8px;
  margin: 10px;
}

.dropdown-btn {
  position: relative;
  display: flex;
  padding: 8px;
  margin: 10px;
  place-items: center;
  justify-content: space-between;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}
.dropdown-btn:hover {
  opacity: 1;
}
.dropdown-btn p {
  padding: 8px;
  font-size: 16px;
}

.song-display-content {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #0f0f0f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 60%;
}

.song-display-content ul {
  list-style-type: none;
  /* padding: 0; */
}

.song-display-content li {
  padding: 12px 16px;
  text-decoration: none;
  color: white;
  display: block;
  cursor: pointer;
}

.song-display-content li:hover {
  background-color: #3e3e3e;
  border-radius: 5px;
}

.dropdown:hover .song-display-content {
  display: block;
}
.track-list {
  width: 100%;
  border-spacing: 0;
}
.track-list .song-info .title,
.recommend-list .title {
  display: flex;
  margin: 5px 0px;
}
.track-list .song-info .thumb,
.recommend-list .song-info .thumb {
  width: 50px;
  height: 50px;
}
.track-list .body .title {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.track-list table {
  width: 100%;
  border-spacing: 0;
  padding: 0px 10px;
}
th.number,
td.number {
  text-align: center;
}
.track-list th {
  border-bottom: 0.5px solid gray;
}
td {
  cursor: pointer;
}
th,
td {
  color: #fff;
  opacity: 0.8;
  text-align: left;
  max-width: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Footer CSS */
.footer {
  height: 105px;
  margin-top: 10px;
  display: flex;
  background-color: #121212;
  position: relative;
  color: white;
  align-items: center;
}

.play {
  display: flex;
  margin-left: 15px;
  align-items: center;
  font-size: 12px;
}
.play-thumb {
  background-size: contain;
  width: 70px; /* Điều chỉnh kích thước */
  height: 70px;
  margin: 8px;
  border-radius: 6px;
}

.control {
  position: absolute;
  bottom: 5px;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  align-items: center;
  gap: 20px;
  font-size: 16px;
}
.control svg,
.player-option svg {
  width: 24px;
}

/* CSS cho thanh trượt phạm vi */
.audio-silide-container {
  position: absolute;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
  height: 8px;
  place-items: center;
  display: flex;
}
.slideContainer {
  width: 100%;
  align-content: center;
}
.slider {
  -webkit-appearance: none;
  width: 500px;
  height: 5px;
  margin: 0px 10px;
  outline: none;
  background: linear-gradient(90deg, rgb(256, 256, 256) 0%, rgb(64, 64, 64) 0%);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
  margin-bottom: 10px;
  cursor: pointer;
}

.slider:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
/* CSS cho seekbar trong trạng thái paused */
#myRange {
  background: linear-gradient(90deg, rgb(117, 252, 117) 0%, rgb(64, 64, 64) 0%);
}
#myRange:hover {
  background: linear-gradient(
    90deg,
    rgb(117, 252, 117) 0%,
    rgb(64, 64, 64) 100%
  );
}
/* CSS mặc định cho seekbar khi hover */

/* .seek-bg {
  width: 60vw;
  max-width: 500px;
  background-color: gray;
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;
}
#seek-bar {
  height: 5px;
  width: 1%;
  border-radius: 5px;
  border: none;
  background: white;
}
.seek-bg {
  position: relative;
  width: 60vw;
  max-width: 500px;
  background-color: gray;
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;
}
.seek-bg:hover .seek-thumb {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%; /* Vị trí ở giữa chiều cao 
  left: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.seek-bg:hover #seek-bar {
  background-color: #1ed760;
} 
*/

.player .icon-play {
  transition: transform 0.1s ease-in-out;
}
.player .icon-play:hover {
  transform: scale(1.1);
}
.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}
.control .btn-toggle-play svg {
  border-radius: 50%;
  width: 40px;
}

.control .btn-prev,
.control .btn-next,
.control .btn-random,
.control .btn-repeat {
  transition: transform 0.2s ease-in;
  opacity: 0.7;
}
.control .btn-prev:hover,
.control .btn-next:hover,
.control .btn-random:hover,
.control .btn-repeat:hover {
  opacity: 1;
  transform: scale(1.2);
}
.player-option {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  position: absolute;
  right: 30px;
  top: 50%; /* Đặt ở giữa theo chiều dọc */
  transform: translateY(-50%); /* Căn chỉnh vị trí dọc */
  width: 300px; /* Độ rộng cố định cho container */
  justify-content: space-between; /* Phân phối khoảng cách giữa các phần tử */
}
.player-option div {
  display: flex;
  align-items: center; /* Căn giữa các icon và input theo chiều dọc */
}
.playing-view-btn,
.lyric-btn,
.connect-device-btn {
  flex-grow: 1; /* Để chia đều khoảng cách */
  display: flex;
  justify-content: center; /* Căn giữa các phần tử trong từng `div` */
}
.volume-control {
  margin-left: 20px;
}
#volume-icon {
  width: 30px;
}
.volume {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  margin: 0px 10px;
  outline: none;
  background: linear-gradient(90deg, rgb(64, 64, 64) 60%, rgb(64, 64, 64) 60%);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
  margin-bottom: 10px;
  cursor: pointer;
}

.volume:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
}
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.volume {
  margin-left: 10px; /* Tạo khoảng cách giữa icon và thanh volume */
}
.search-button {
  color: white;
}
.icon-text {
  color: #fff;
}
.lib-option i {
  color: #fff;
}
.option-title {
  font-size: 12px;
  font-weight: 600;
}
.recommend-title {
  padding-top: 20px;
  padding-left: 50px;
  width: 100%;
}
.recommend-list table {
  width: 100%;
  border-spacing: 0;
  padding-left: 50px;
  padding-right: 10px;
}
.add-btn {
  border: solid 1px #c7c7c7;
  border-radius: 50px;
  padding: 5px 15px;
  background-color: transparent;
  font-size: 16px;
  opacity: 0.8;
  cursor: pointer;
}
.add-btn:hover {
  transform: scale(1.1);
  opacity: 1;
}
.song-row:hover {
  background-color: rgb(58, 57, 57);
}
.main-container {
  background-image: linear-gradient(rgb(66, 60, 54), rgb(18, 18, 18));
}

.option-list {
  display: none;

  position: absolute;
  text-decoration: none;
  z-index: 999999;
  list-style-type: none;
  border-radius: 5px;
  min-width: 250px;
  background: #0f0f0f;
}
.option-list li {
  padding: 0;
  color: white;
  font-weight: 400;
}
.option-list li i {
  font-size: 16px;
}
.option-list hr {
  width: 95%;
  margin-left: 2.5%;
}
.playlist-option:hover .option-list {
  display: block;
}
.playlist-option {
  margin-left: 20px;
  cursor: pointer;
  opacity: 0.7;
  color: white;
}
.playlist-option:hover {
  opacity: 1;
}
.option-list li:hover {
  background-color: #3e3e3e;
  border-radius: 5px;
}
